name: Build time benchmark

on:
  workflow_dispatch:
  schedule:
    - cron: 45 0 * * WED

jobs:
  benchmark:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: '25'
          architecture: x64
          distribution: 'temurin'
      - name: Login to GCP
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093
        with:
          service_account: ${{ secrets.BQ_UPLOADER_SA }}
          credentials_json: ${{ secrets.BQ_UPLOADER_SA_KEY }}
          export_environment_variables: true
          create_credentials_file: true
      - name: Run benchmark (stage)
        run: |
          cd ${{ github.workspace }}/benchmark-project
          ./collect-build-time.sh
        env:
          CHANNEL: stable
          BUILD_SERVER: https://build-stage.defold.com
          PLATFORMS: 'js-web,x86_64-win32,x86_64-linux,x86_64-macos,arm64-macos,arm64-ios,armv7-android'
          EXTENDER_HEADER_NAME: ${{ secrets.EXTENDER_HEADER_NAME }}
          EXTENDER_HEADER_VALUE: ${{ secrets.EXTENDER_HEADER_VALUE }}
      - name: Run benchmark (production)
        run: |
          cd ${{ github.workspace }}/benchmark-project
          ./collect-build-time.sh
        env:
            CHANNEL: stable
            BUILD_SERVER: https://build.defold.com
            PLATFORMS: 'js-web,x86_64-win32,x86_64-linux,x86_64-macos,arm64-macos,arm64-ios,armv7-android'
            EXTENDER_HEADER_NAME: ${{ secrets.EXTENDER_HEADER_NAME }}
            EXTENDER_HEADER_VALUE: ${{ secrets.EXTENDER_HEADER_VALUE }}            
      - name: Notify if tests failed
        if: failure()
        uses: homoluctus/slatify@c4847b8c84e3e8076fd3c42cc00517a10426ed65
        with:
          type: ${{ job.status }}
          job_name: 'Build time benchmark'
          channel: '#defold-alarms-build'
          url: ${{ secrets.SLACK_WEBHOOK }}